.services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.service-card {
    position: relative;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1);

}

.service-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.service-icon {
    display: block;
    color: var(--first-color);
}

.services-title {
    display: block;
    font-weight: var(--font-medium);

}

.view-more-btn {
    font-size: var(--small-font-size);
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    color: var(--first-color);
    cursor: pointer;
}

.view-more-btn:hover {
    color: var(--first-color-alt);
}

.view-more-btn:hover .service-icon {
    transform: translateX(.25rem);

}

.services-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
}

.services-modal-content {
    position: inherit;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.services-list {
    display: grid;
    row-gap: 1rem;
}

.services-list-item {
    display: flex;
    gap: .5rem;
}

.modal-title {

    margin-bottom: var(--mb-1-5);
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--first-color);
    cursor: pointer;
}

.modal-icon {
    color: var(--first-color);
}

@media (max-width:350px) {
    .services-modal {
        padding: 0.5rem;
    }
}

@media (min-width:768px) {
    .service-card {
        padding: 6rem 0 2rem 2.5rem;
    }

    .services-modal-content {
        width: 450px;
    }
}


